.cont_login{
    height: 100vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("../img/v1016-b-09.jpg");
}

.sombras{
    position: absolute;
    left: 100px;
    top: 100px;
    -ms-transform: translate(-50%, 50%);
    transform: translate(-50%, 50%);
    padding: 20px;
    width: 80%;
    text-align: center;
    background-color: rgba(250, 250, 250, 0.4);
    color: black;
    margin: auto;
}

.sombras hr{
    border-top-width: 1px;
    border-top-color: white;
    border-top-style: solid;
}
.sombras h1{
    font-size: 8vw;
    margin-bottom: 10px;
}

.sombras p{
    font-size: 4vw;
    margin-bottom: 10px;
}
